.venv
__pycache__
/.ipynb_checkpoints
data/
cogito/
*.safetensors
cogito/
deepseek/
outs/
*.safetensors
*.bin
*.pt
*.ckpt
models/
__pycache__/
*.py[cod]
*.ipynb_checkpoints/
.cache/
huggingface/

*.out
*.log
slurm-*.out
Personal
